# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.lock
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
**/doc/api/
**/ios/Flutter/.last_build_id

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Coverage
coverage/

# Symbolic links & misc
symlink/

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Pods/
ios/.generated/
ios/.dart_tool/

# Android
android/.gradle/
android/.idea/
android/local.properties
android/.flutter-plugins
android/.flutter-plugins-dependencies
android/app/debug/
android/app/profile/
android/app/release/
android/app/.cxx/

# macOS
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/.flutter-plugins
macos/.flutter-plugins-dependencies
macos/build/

# Linux
linux/flutter/generated_plugin_registrant.*
linux/flutter/generated_plugins.cmake
linux/build/

# Windows
windows/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugins.cmake
windows/build/

# Web
web/.dart_tool/

# VS Code
.vscode/